form {
  width: 600px;
  max-width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 24px 32px;
  margin: 100px auto;
  h1 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
  }
}
