<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1>

<div class="infor-card">
  <h2>{{ userInfor.name }}</h2>
  <p>Tuổi: {{ userInfor.age }}</p>
  <p>Địa chỉ: {{ userInfor.address }}</p>
  <button class="btn btn-success" (click)="hello()">Hello</button>
</div>

<app-product-list></app-product-list> -->

<app-home-page></app-home-page>
<!-- <app-not-found-page></app-not-found-page> -->

<!-- <input type="text" [value]="user.name" /> -->
<!-- <button onclick="showInfor()">Click Me!</button> -->
<!-- <button (click)="showInfor()" class="btn btn-primary">Click Me!</button> -->

<!-- <form action="">
  <h1>Register</h1>
  <label for="username">Username:</label>
  <input type="text" [(ngModel)]="user.name" />
  <button>Dang nhap</button>
</form> -->
